.headerWrapper {
  width: 100%;
  height: 6vh;
  background-color: #b0a695;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'TorusPro-SemiBold';
  /* border-left: 2px solid #2a2226;
    border-right: 2px solid #2a2226; */
}

.header {
  width: 100%;
  display: flex;
}
.title {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  /* width of social buttons */
}
.title a {
  font-size: 30px;
  color: #2a2226;
}
