* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f2fc;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #cdc2f9;
    height: 500px;
    width: 1800px;

    & .beatmaps-container {
      height: 60%;
      max-width: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: rgb(206, 195, 249, 0.8);
      padding: 25px;
      border-radius: 10%;
      flex-direction: column;
      justify-content: center;

      & audio {
        margin-top: 10px;
      }

      & .button-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;

        & button {
          font-size: 15px;
          font-weight: 400;
          width: 400px;
          min-width: 13%;
          min-height: 13%;
          min-height: 40px;
          padding: 3px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.7);
          margin: 3px 0px;
          background: rgba(232, 217, 245, 0.8);

          &:first-child {
            margin-top: 10px;
          }

          &:hover {
            background-color: #cdc2f9;
          }
        }
      }
    }
  }
}
